<volume type='file'>
  <name>cloud-config.iso</name>
  <source>
  </source>
  <capacity unit='MB'>1</capacity>
  <target>
    <format type='raw'/>
    <permissions>
      <mode>0600</mode>
      <owner>0</owner>
      <group>133  </group>
    </permissions>
  </target>
</volume>